-r requirements.txt
bumpversion==0.5.3
setuptools==40.6.3
wheel==0.32.3

coverage>=4.5.2
mock>=2.0.0
flake8>=3.6.0
tox>=3.5.3
codecov>=2.0.15

# Additional test requirements go here
factory_boy>=2.11.1
wagtail-factories>=1.1.0