{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productindex{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<div class="card-grid">
{% for post in page.get_children %}
   {% with post=post.specific %}
    <div class="card">
        {% image post.images.first.image max-400x320 %}
        <div class="card-body">
            <a href="{% templatetag openblock %} pageurl post {% templatetag closeblock %}">
                <h4>{{ post.title }}</h4>
            </a>
            <p>{{ post.description|richtext }}</p>
            <p>From &euro;{{ post.price_range.0 }}</p>
        </div>
   </div>
   {% endwith %}
{% endfor %}
</div>
{% endblock %}
