{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} load wagtailcore_tags wagtailimages_tags {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}template-productindex{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<h1>{% templatetag openvariable %} page.title {% templatetag closevariable %}</h1>
<div class="card-grid">
{% templatetag openblock %} for post in page.get_children {% templatetag closeblock %}
   {% templatetag openblock %} with post=post.specific {% templatetag closeblock %}
    <div class="card">
        {% templatetag openblock %} image post.images.first.image max-400x320 {% templatetag closeblock %}
        <div class="card-body">
            <a href="{% templatetag openblock %} pageurl post {% templatetag closeblock %}">
                <h4>{% templatetag openvariable %} post.title {% templatetag closevariable %}</h4>
            </a>
            <p>{% templatetag openvariable %} post.description|richtext {% templatetag closevariable %}</p>
            <p>From &euro;{% templatetag openvariable %}  post.price_range.0 {% templatetag closevariable %}</p>
        </div>
   </div>
   {% templatetag openblock %} endwith {% templatetag closeblock %}
{% templatetag openblock %} endfor {% templatetag closeblock %}
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}
