{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} load wagtailcore_tags wagtailimages_tags {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}template-productindex{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<h1>{% templatetag openvariable %} page.title {% templatetag closevariable %}</h1>
<div class="row">
{% templatetag openblock %} for post in product {% templatetag closeblock %}
   {% templatetag openblock %} with post=post.specific {% templatetag closeblock %}
   <div><a href="{% templatetag openblock %} pageurl post {% templatetag closeblock %}">
       <div class="caption_news">
           <h4>{% templatetag openvariable %} post.title {% templatetag closevariable %}</h4>
           <p>{% templatetag openvariable %} post.description|richtext {% templatetag closevariable %}</p>
       </div></a>
   </div>
   {% templatetag openblock %} endwith {% templatetag closeblock %}
{% templatetag openblock %} endfor {% templatetag closeblock %}
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}
