{% extends "modeladmin/inspect.html" %}
{% load i18n static %}



{% block content_main %}

<div class="nice-padding">

    <p class="back"><a href="{{ view.index_url }}" class="icon icon-arrow-left">{% blocktrans with view.verbose_name as model_name %}Back to {{ model_name }} list{% endblocktrans %}</a></p>
     
    <div id="order-app"></div>
</div>
<script>
  window.initialData = {{ initial_data|safe }};
</script>
<script type="text/javascript" src="{% static 'longclaw.orders/js/vendors.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'longclaw.orders/js/orders.bundle.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}
